<footer>
	<ul class="footer">
		<li>
			<a href="{{path('mentions_legales')}}">MENTIONS LÉGALES</a>
		</li>
			{% if not is_granted('ROLE_ADMIN') %}
		<li>
			<a href="{{path('app_login')}}">SE CONNECTER</a>
		</li>
		{% else %}
			<li>
				<a href="{{ path('app_logout') }}">SE DÉCONNECTER</a>
			</li>
			{% endif %}
			<li>
		<a>LA PALME &copy; {{ "now"|date('Y') }}</a>
		</li>
		
</footer>
