{% extends 'base.html.twig' %}

{% block title %}Mentions Légales - La Palme
{% endblock %}

{% block body %}

	<div class="mt-1 p-5">
		<h2 class="text-center mb-5">Les mentions légales</h2>

		<h3 class="text-center">Identification et publication</h3>

		<p class="mb-5">
			Il est précisé aux Utilisateurs du site lapalme.com l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
															
															Le présent site est publié par : LA PALME dont le siège social est 4 RUE DU CLOS BARROIS - 60180 NOGENT-SUR-OISE
															
															Numéro de téléphone : TELEPHONE
															
															Numéro SIREN: 824900443
		</p>

		<h3 class="text-center">Marques</h3>

		<p class="mb-5">Les marques et logos de la société LA PALME figurant sur le site sont des marques et logos déposées. Toute reproduction totale ou partielle de ces marques et logos sans autorisation expresse de la société LA PALME est prohibé</p>

		<h3 class="text-center">Protection de la vie privée</h3>

		<div class="mb-5">
			<li>Quelles données personnelles sont collectées :</li>

			<p>Si notre site ne propose pas de comptes utilisateurs, alors aucun enregistrement nominatif à ses visiteurs n’est réalisé pour la simple consultation des pages.
										<br>							
Des données sont collectées durant les actions suivantes  :
																	
	- La réalisation d’une transaction en ligne (demande de réservation à l’aide d’une formulaire de contact),
	- L’utilisation du formulaire de contact et commentaires.
	- La navigation sur le site internet et la consultation des pages.
    – Contenus embarqués depuis d’autres sites.<br>
			</p>

			<li>Avec qui partageons nous vos données ?</li>

			<p>
				Vos données ne sont partagées avec aucune tierce partie et société partenaires.
			</p>

			<li>Comment exercer mon droit à la modification et suppression de mes données ?</li>

			<p>Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, vous disposez de droits d’accès, de rectification, d’effacement, d’opposition au ou de limitation du traitement de vos données, de retrait de votre consentement. Vous pouvez réaliser votre demande directement à l’aide du formulaire de contact du site internet.
			</p>
		</div>

		<h3 class="text-center">Date de la dernière mise à jour</h3>

		<p class="mb-5">La dernière mise à jour de ces mentions légales, politique de confidentialité et conditions d’utilisation sont en date du 21/06/2023.</p>
	</div>
{% endblock %}
