{% extends 'base.html.twig' %}

{% block title %}Mentions legales | Hotel House{% endblock %}

{% block body %}


<div class="container">
    <h1 class="m-4">Les mentions légales</h1>

    
    <ul>
    <li>Identification de l’éditeur du site</li>
    <li>Société Hotel House</li>
    <li>Adresse postale : Place de Paris - 1 rue du chemin de fer - 75001 Paris</li>
    <li>Siège sociale : Place de Paris - 3 rue du chemin de fer - 75001 Paris</li>
    <li> +33 4 90 90 90 90</li>
    <li> Adresse électronique : Contact@hotel-house.com</li>
<li>Immatriculée au RCS sous SIREN : 552621846</li>

<li>SIRET : 55262914600018</li>
<li>Code APE : 4510Z</li>
<li>Capital social : 80161</li>
<li>Numéro individuel d’identification à la TVA : FR75572621146</li>
<li>Directeur de la publication : Jean Bernard</li>
<li>Responsable légal : Jean Bernard</li>



    </ul>
</div>
{% endblock %}
