{% extends 'base.html.twig' %}

{% block title %}Partagez | Hotel House{% endblock %}

{% block body %}


<div class="container">
    <h1 class="text-center m-4">Partager le site à vos amis !</h1>

    <h3 class=" text-center m-4 ">Suivez nous sur </h3>

    <ul class=" justify-content-center list-unstyled d-flex">
    <li><a  class="text-body-secondary m-4" href="https://www.facebook.com/"><i class="bi bi-facebook fs-2"></i></a></li>
    <li><a  class="text-body-secondary m-4" href="https://twitter.com/"><i class="bi bi-twitter fs-2"></i></a></li>
    <li><a  class="text-body-secondary m-4" href="https://www.instagram.com/"><i class="bi bi-instagram fs-2"></i></a></li>

    </ul>  

</div>
{% endblock %}