<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Vous avez reçu un message de la part de {{contact.nom}} {{contact.prenom}}</h1>
		<p>Email : {{contact.email}}</p> <br>
	
		<div>
			<p>{{contact.message | raw }}</p>
		</div>

	</body>
</html>
