<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Demande de
			{{reservation.nom}}
			{{reservation.prenom}}
		</h1>
		<p>Email :
			{{reservation.email}}</p>
		<p>Message :</p>
		<div>
			<p>d</p>
		</div>

	</body>
</html>
