@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #222222;
    flex-direction: column;
    font-family: 'DM Serif Display', serif;
}


#content {
    flex-grow: 1;
    background-color: #222222;
    color: #ffffff;
    font-family: 'DM Serif Display', serif;
}

html {
    position: relative;
    background-color: #222222;
    height: 100%;
    width: 100vw;
}

/* MENU  */

header {
    background: #222222;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    font-family: 'DM Serif Display', serif;

}

#burger {
    display: none;
    z-index: 99999;
    margin-top: 20px;
}

.logo {
    position: relative;
    height: 160px;
}

nav#menu {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #C09F6A;
    width: 100%;
}

nav#menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    transition: 0.3s ease;
    background: transparent;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 20px;
    font-family: 'DM Serif Display', serif;
}

nav#menu ul li {
    font-size: 20px;
}

nav#menu ul li a {
    color: #222222;
    text-decoration: none;
    margin: 30px;
}

nav#menu ul li a:hover {
    padding: 3px 5px;
    font-weight: bold;
    color: #ffffff;
}

main {
    padding-bottom: 45px;
    margin: 20px;
}

h1 {
    font-family: 'DM Serif Display', serif;
}

@media screen and (max-width:850px) {

    main {
        padding-bottom: 45px;
        margin: 20px;
    }

    nav#menu {
        background: #222222;

    }

    header {
        background: #222222;
        color: white;
        padding: 0px 0;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        justify-content: center;
    }

    .logo {
        position: relative;
        height: 160px;
    }

    h1 .logo {
        margin-left: 30px;
    }

    #burger {
        display: flex;
        z-index: 99999;
        margin-top: 25px;
        font-size: 35px;
        cursor: pointer;
    }

    nav#menu ul li a {
        color: #ffffff;
        text-decoration: none;
    }

    #menu {
        top: 0;
        position: absolute;
        left: -100%;
        z-index: 99;
        background: #222222;
        width: 50vw;
        height: 50vh;
        border: 15px solid #222222;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.912);
    }

    nav#menu ul li a:hover {
        color: #C09F6A;
    }

    #menu ul {
        flex-direction: column;
        margin: 5px;
    }

    #menu ul li {
        text-align: center;
        margin: 10px;
    }

    #menu.deploye {
        left: 0;
    }

    #menu.transition {
        transition: 1s;
        background: #222222;
    }

}

/* FOOTER */

footer {
    background-color: #222222;
}

.footer {
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 10px 10px;
    display: flex;
    position: relative;
    list-style: none;
    background-color: #C09F6A;
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
}

footer ul li a {
    color: #222222;
    text-decoration: none;
}

/* CAROUSEL */

.carrousel {
    position: relative;
    margin: 60px auto 0px;
    width: 75vw;
    max-width: 1200px;
    height: calc(75vw * 9 / 16);
    /* calcul pour respecter le ratio 16/9 */
    max-height: calc(1200px * 9 / 16);
    overflow: hidden;
    border: 10px solid #222222;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.912);
}

.carrousel .reglette {
    display: flex;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    justify-content: flex-start;
    align-items: center;
}

.carrousel .reglette figure {
    height: 100%;
    position: relative;
}

.carrousel .reglette figure img {
    width: 100%;
    height: 100%;
}

.carrousel .previous,
.carrousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #C09F6A;
    cursor: pointer;
    font-size: 1.5rem;
}

.carrousel .previous {
    left: 0px;
}

.carrousel .next {
    right: 0px;
}

.carrousel .reglette.animavance {
    animation: avance 1s ease-in-out forwards;
    animation-iteration-count: 1;
}

.carrousel .reglette.animrecule {
    animation: recule 1s ease-in-out forwards;
    animation-iteration-count: 1;
}

@keyframes avance {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@keyframes recule {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

/* SCROLL */

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

/* BOUTON */

button {
    height: 50px;
    width: 200px;
    background-color: #C09F6A;
    color: #222222;
    font-family: 'DM Serif Display', serif;
    border: 5px solid #C09F6A;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.912);
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #222222;
    color: #C09F6A;
    border: 5px solid #222222;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    margin-top: 20px;
    font-size: 26px;
}

/* CONTACT */

.contenu {
    flex: 0 1 850px;
    margin: 50px;
    padding: 10px;
}

.screen {
    position: relative;
    background: #222222;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
}

.screen:after {
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #C09F6A;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #bd0404;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #C09F6A;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 20px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #d3d3d3;
    font-size: 26px;
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
}

.numero {
    text-decoration: none;
    color: #C09F6A;
}

.app-title .numero {
    text-decoration: none;
    text-decoration: underline;
    color: #C09F6A;
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 10px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 20px;
    }

    .screen-body-item {
        padding: 0;
    }
}

.mention {
    margin: 50px;
}