{% extends 'base.html.twig' %}

{% block title %}Plan - La Palme
{% endblock %}

{% block body %}

		<h1 class="text-warning mt-5 text-center">Où nous trouver ?</h1>

	<img src="./img/parking.jpg" alt="Parking et terrasse Restaurant La Palme" class="img-fluid rounded p-5" alt="">

<h2 class="text-warning mt-2 text-center">Itinéraire</h2>

	<div class="text-center mt-5">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d666373.1989745228!2d1.2708098781250063!3d49.276012399999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e64a0b19dfca35%3A0x4c4cc135ebe41234!2sRestaurant%20La%20Palme!5e0!3m2!1sfr!2sfr!4v1685207631487!5m2!1sfr!2sfr" alt"Itinéraire Restaurant La Palme" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>

{% endblock %}
