{% extends 'base.html.twig' %}

{% block title %}Notre histoire{% endblock %}

{% block body %}

				<div class="col-mx-auto mb-5 text-center">
					<h2 class="featurette-heading fw-normal lh-1 mt-5">LA PALME - 
						<span class="text-info">Qui sommes-nous ?</span>
					</h2>
					<div class="container">
					<p class="lead mt-5 text-justify">Nous sommes une entreprise familiale avec plus de 50 ans d'expérience dans le secteur de l’hôtellerie, pleinement engagés à améliorer la qualité du service rendu, et ayant vocation à progresser, jour après jour, afin de pouvoir satisfaire les attentes de nos clients.</p>
                    <p class="lead">Nous vous invitons à venir partager un séjour agréable, goûter, sentir et vous détendre chez nous.</p>
				</div>
				</div>
				<div class="col-md-5 container mb-5">
					<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto text-center" width="700" height="700" src="entree.jpg" role="img" preserveaspectratio="xMidYMid slice" focusable="false">		
			</div>

<hr class="featurette-divider">

<h2 class="featurette-heading fw-normal lh-1 mt-5 text-center">LA PALME -
						<span class="text-success">Nos valeurs ?</span>
					</h2>

<div
			class="container marketing text-center">

			<!-- Three columns of text below the carousel -->
			<div class="row p-5">
				<div class="col-lg-4">
					<img class="bd-placeholder-img rounded" width="140" height="140" src="./qualite.png" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text>

					<h2 class="fw-normal mt-4">Qualité</h2>
					<p>La qualité tient à l’amélioration des services, des processus et des installations. Être à l’écoute de nos clients s’avère la meilleure approche pour y parvenir.</p>
	
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="bd-placeholder-img rounded" width="140" height="140" src="./equipe.jpg" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text>
					<h2 class="fw-normal mt-4">Travail en équipe</h2>
					<p>Nous considérons que le travail en équipe est la clé de la réussite. Nous entretenons une ambiance de travail agréable et conviviale, visant à encourager la communication et la formation interne.</p>
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="bd-placeholder-img rounded" width="140" height="140" src="./biosphere.png" role="img" aria-label="Placeholder: 140x140" preserveaspectratio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text>
					<h2 class="fw-normal mt-4">Durabilité</h2>
					<p>Nous sommes une entreprise engagée dans le respect de notre environnement, en faveur de la Soutenabilité Touristique et sociale. Nous sommes particulièrement heureux et fiers d'avoir obtenu la certification Biosphère.</p>
					
				</div>
				<!-- /.col-lg-4 -->
			</div>
{% endblock %}